<%- include('../header/header.ejs') %>
<body>
    <h2>Show deleli</h2>
<h3><%= hotelView.title %></h3>
<h3><%= hotelView.price %></h3>
<h3><%= hotelView.location %></h3>
<h3><%= hotelView.country %></h3>
<h3><%= hotelView.description %></h3>
</body>